<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="../assets/style.css">
        
        <script src="../controllers/env.js"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=MXN"></script>
    </head>

    <body>
      <div id="navbar-container"></div>

      <script>
          fetch('navbar.html')
          .then(res => res.text())
          .then(html => {
              document.getElementById('navbar-container').innerHTML = html;
          });
      </script>



      <div class="container my-5">
        <div>
            <h2 style="text-align: left;">Tu carrito</h2>
            <a href="./products.html" style="color: black;">Seguir comprando</a>
        </div>

        <div class="row align-items-center border-bottom pb-4 mb-4">
          <div class="col-md-2">
            <img src="https://fanatics.frgimages.com/new-york-yankees/mens-nike-aaron-judge-white-new-york-yankees-home-replica-player-name-jersey_pi3592000_altimages_ff_3592645-11960f417ba69ff98eccalt2_full.jpg?_hv=2&w=900" 
            alt="Carhartt Talla L" class="img-fluid rounded shadow-sm" />
          </div>
          <div class="col-md-4">
            <h5>Jersey NY Yankees Talla L</h5>
            <p class="mb-0 text-muted">$ 2,599.00</p>
          </div>
          <div class="col-md-3 text-center">
            <label class="form-label">Cantidad</label>

            <div class="d-flex justify-content-center">
              <div class="input-group align-items-center" style="width: 140px;">
                <button class="btn btn-outline-dark border-end-0" type="button" id="decreaseBtn">−</button>
                <input type="text" class="form-control text-center border-start-0 border-end-0" value="1" id="quantityInput" readonly>
                <button class="btn btn-outline-dark border-start-0" type="button" id="increaseBtn">+</button>
              </div>
            </div>

          </div>
          <div class="col-md-3 text-end">
            <p class="fw-bold h5 mb-0">$ 2,599.00</p>
          </div>
        </div>
      

        <div class="text-end mb-4">
          <h5 class="fw-semibold">Total estimado: $ 2,599.00 MXN</h5>
          <small class="text-muted">Impuestos y envío calculados en el siguiente paso</small>
        </div>
      
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <button class="btn btn-dark w-100 mb-3">Pagar pedido</button>
            <div id="paypal-button-container" class="mb-3"></div>
          </div>
        </div>
      </div>
      

<div id="footer-container"></div>
<script>
    fetch('footer.html')
      .then(res => res.text())
      .then(html => {
        document.getElementById('footer-container').innerHTML = html;
      });
  </script>
  
    <script src="../controllers/auth_controllers.js"></script>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>