<!doctype html>
<html lang="en">
    <head>
        <title>All Products</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <link rel="stylesheet" href="../assets/style.css">  
        
        <script src="../controllers/env.js"></script> 
    </head>

    <body>
        <div id="navbar-container"></div>

        <script>
            fetch('navbar.html')
            .then(res => res.text())
            .then(html => {
                document.getElementById('navbar-container').innerHTML = html;
            });
        </script>

        <!-- TOP -->

        <div class="container mt-5 mb-5">
            <h2 style="text-align: left;">Todos los productos</h2>
            <div class="filter-container">
                <form action="" id="filtro-form">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="filters">
                            <p class="me-3">Filtrar:</p>
                            <!-- Availability Filter -->
                            <div class="filter-item me-3">
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-link text-reset text-decoration-none p-0 dropdown-toggle" type="button" id="availabilityDropdown" data-bs-toggle="dropdown">
                                            Availability
                                        </button>
                            
                                        <ul class="dropdown-menu p-3" aria-labelledby="availabilityDropdown" style="min-width: 250px;">
                                            <div class="d-flex justify-content-between mb-2">
                                                <span>0 seleccionados</span>
                                                <a href="#" class="text-decoration-none text-reset"><u>Restablecer</u></a>
                                            </div>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="inStock">
                                                    <label class="form-check-label" for="inStock">En existencia</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="outOfStock">
                                                    <label class="form-check-label" for="outOfStock">Agotado</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Talla Filter -->
                            <div class="filter-item me-3">
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-link text-reset text-decoration-none p-0 dropdown-toggle" type="button" id="sizeDropdown" data-bs-toggle="dropdown">
                                        Size
                                        </button> 
                                        <ul class="dropdown-menu p-3" aria-labelledby="sizeDropdown" style="min-width: 250px;">
                                            <div class="d-flex justify-content-between mb-2">
                                                <span>0 seleccionados</span>
                                                <a href="#" class="text-decoration-none text-reset"><u>Restablecer</u></a>
                                            </div>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sizeXS">
                                                    <label class="form-check-label" for="sizeXS">Talla XS</label>
                                                </div>
                                            </li>
                                            <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="sizeS">
                                                <label class="form-check-label" for="sizeS">Talla S</label>
                                            </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sizeM">
                                                    <label class="form-check-label" for="sizeM">Talla M</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sizeL">
                                                    <label class="form-check-label" for="sizeL">Talla L</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sizeXL">
                                                    <label class="form-check-label" for="sizeXL">Talla XL</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Price Filter -->
                            <div class="filter-item">
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-link text-reset text-decoration-none p-0 dropdown-toggle" type="button" id="priceDropdown" data-bs-toggle="dropdown">
                                        Price
                                        </button>
                                        <ul class="dropdown-menu p-3" aria-labelledby="priceDropdown" style="min-width: 400px;">
                                            <div class="d-flex justify-content-between mb-2">
                                                <span>El precio más alto es $3,999.00</span>
                                                <a href="#" class="text-decoration-none text-reset"><u>Restablecer</u></a>
                                            </div>
                                            <li><hr class="dropdown-divider"></li>
                                            <div class="row g-2">
                                                <div class="col-6">
                                                    <label for="priceMin" class="form-label">De $</label>
                                                    <input type="number" class="form-control" id="priceMin" name="price_min" placeholder="0">
                                                </div>
                                                <div class="col-6">
                                                    <label for="priceMax" class="form-label">Para $</label>
                                                    <input type="number" class="form-control" id="priceMax" name="price_max" placeholder="3999">
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sort"> 
                            <p class="me-3">Ordenar por:</p>
                            <div class="dropdown">
                                <button class="btn btn-link text-reset text-decoration-none p-0 dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Fecha: reciente a antiguo(a)
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                    <li><a class="dropdown-item active" href="#" data-value="fecha-reciente">Fecha: reciente a antiguo(a)</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="fecha-antiguo">Fecha: antiguo(a) a reciente</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="mas-vendidos">Más vendidos</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="precio-menor">Precio, menor a mayor</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="precio-mayor">Precio, mayor a menor</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="az">Alfabéticamente, A-Z</a></li>
                                    <li><a class="dropdown-item" href="#" data-value="za">Alfabéticamente, Z-A</a></li>
                                </ul>
                            </div>
                            <p class="ms-3">280 productos</p>
                        </div>
                    </div>
                    <button type="submit" class="login-button">Aplicar filtros</button>

                </form>                  
            </div>



            <section class="container my-5">
                <h3 class="mb-4">Recién agregados</h3>
                <div class="row row-cols-2 row-cols-md-4 g-4" id="products-container">
                    <!-- Las tarjetas se insertan aquí -->
                </div>
            </section>

        </div>
            

        <!-- BELOW -->

        <div id="footer-container"></div>
        <script>
            fetch('footer.html')
              .then(res => res.text())
              .then(html => {
                document.getElementById('footer-container').innerHTML = html;
              });
          </script>
        
        
        <script src="../controllers/auth_controllers.js"></script>
        <script src="../controllers/productsController.js"></script>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>