<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <link rel="stylesheet" href="../assets/style.css">
        
        <script src="../controllers/env.js"></script>

    </head>

    <body>
    
        <div id="navbar-container"></div>

        <script>
            fetch('navbar.html')
            .then(res => res.text())
            .then(html => {
                document.getElementById('navbar-container').innerHTML = html;
            });
        </script>
        

        <div class="profile-container">
            <h2>Cuenta</h2>
            <div class="container my-4">
                <h4>Actualizar información</h4>
              <div class="login-container">
                <form id="updateForm" class="container mt-4">
                    <div class="mb-3">
                      <label for="newEmail" class="form-label">Nuevo Correo</label>
                      <input type="email" class="form-control" id="newEmail">
                    </div>
                    <div class="mb-3">
                      <label for="newPassword" class="form-label">Nueva Contraseña</label>
                      <input type="password" class="form-control" id="newPassword">
                    </div>
                    <button type="submit" class="login-button">Actualizar</button> <br>
                    <a href="orders.html" class="btn btn-outline-dark mt-3">Ver mis pedidos</a>
                  </form
            </div>
            </div>
            <p class="below-button" onclick="logout()">Cerrar sesión</p>
        </div>

        <div id="footer-container"></div>
        <script>
            fetch('footer.html')
              .then(res => res.text())
              .then(html => {
                document.getElementById('footer-container').innerHTML = html;
              });
          </script>
        <script src="../controllers/auth_controllers.js"></script>
        <script src="../controllers/navbarController.js"></script>


        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>