.navbar-nav .nav-link {
    transition: all 0.3s ease; /* Animación suave */
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.05); /* Hace un mini zoom */
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.3s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.social-icons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 22px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: white;
}

.login-container {
    max-width: 400px;
    margin: 60px auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #333;
    font-size: 16px;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.login-button {
    background: #111;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

.below-button {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

.below-button:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.05); /* Hace un mini zoom */
    cursor: pointer;
}

.social-icons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 22px;
    padding-bottom: 20px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
}

.whatsapp-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    text-decoration: none;
}

footer {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 12px;
    color: #444;
    background-color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.payment-icons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}

.payment-icons img {
    height: 34px;
    margin: 0 4px;
}

.copyright {
    text-align: left;
    width: 100%;
    font-size: 11px;
    color: #666;
    padding-right: 10px;
}

@media (max-width: 500px) {
    .payment-icons img {
    height: 20px;
    margin: 0 3px;
    }

    .copyright {
    font-size: 10px;
    }
}

.filters{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sort{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: right;
}

.filter-item{
    justify-content: left;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card .card-img-top {
    height: 200px;
    object-fit: contain;
}

.product-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.input-group .btn,
.input-group .form-control {
    height: 40px !important;
    line-height: 1.2;
    padding: 0 0.90rem;
    display: flex;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.hov{
    cursor: pointer;
}